{{#Commands}}
# {{Name}}

{{HelpText}}

## Options

Name | Description
--- | ---
{{#Options}}
-{{ShortName}}, --{{LongName}} | {{HelpText}}
{{/Options}}

{{#Examples.length}}

## Examples
{{#Examples}}
{{HelpText}}
```
{{ApplicationAlias}} {{#Values}}{{^IsDefault}} --{{OptionLongName}} {{ParamValue}}{{/IsDefault}}{{/Values}}
```
{{/Examples}}
{{/Examples.length}}

{{/Commands}}
