{{#Commands}}
# {{Name}}

{{HelpText}}

## Options

Name | Description
--- | ---
{{#Options}}
{{^Hidden}}
-{{ShortName}}, --{{LongName}} | {{#Required}}Required. {{/Required}}{{HelpText}}
{{/Hidden}}
{{/Options}}

{{#Examples.length}}

## Examples
{{#Examples}}
{{HelpText}}
```
{{ApplicationAlias}} {{Name}}{{#Values}}{{^IsDefault}} --{{OptionLongName}} {{ParamValue}}{{/IsDefault}}{{/Values}}
```
{{/Examples}}
{{/Examples.length}}

{{/Commands}}
