{{#Commands}}
# {{Name}}

{{HelpText}}

## Options

{{#Options}}
{{^Hidden}}
### -{{ShortName}}, --{{LongName}}
{{#Required}}Required. {{/Required}}{{HelpText}}

{{Remarks}}

{{#Example}}
{{&Example}}
{{/Example}}
{{/Hidden}}
{{/Options}}

{{#Examples.length}}

## Examples
{{#Examples}}
{{HelpText}}
```
{{ApplicationAlias}} {{Name}}{{#Values}}{{^IsDefault}} --{{OptionLongName}} {{&ParamValue}}{{/IsDefault}}{{/Values}}
```
{{/Examples}}
{{/Examples.length}}

{{/Commands}}
