<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings configSource="connections.config" />

  <!-- Configure proxy settings here if you are connecting from behind a proxy -->
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>

</configuration>